//GLOBAL
$body-font-size: 13px;
$footer-height: 40px;

//TOP BAR
$topbar-bg-color: #f3f3f3;

//LEFT MENU
$navigation-bg-color: #3a3633;
$navigation-menu-color: #ffffff;
$navigation-menu-hover-bg-color: rgba(0, 0, 0, 0.25);